<ion-header>
  <ion-toolbar color="warning">
    <ion-title>stats</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/techcourse/tabs/cathegories" ></ion-back-button>
    </ion-buttons>

    <ion-icon slot="end" name="refresh-outline" ></ion-icon>
  </ion-toolbar>
  
</ion-header><br>

<ion-content>
  <ion-list>
    <ion-item color="medium">
    <p>Viewed categories:</p>
  </ion-item><br>
  <ion-item color="medium">
    <p>Viewed courses:</p>
  </ion-item><br>
  <ion-item color="medium">
    <p>Viewed chapters:</p>
  </ion-item><br>
  </ion-list>

</ion-content>
